.card {
  position: relative;
  max-width: 600px;
  margin: auto;

  h1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.5em;
  }
}

.board {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;

  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & > div {
      z-index: 10;
    }

    img {
      display: none;
      width: 80%;
      height: 80%;
      object-fit: contain;
      position: absolute;
      top: 10%;
      left: 10%;
    }

    &.marked img.daub {
      display: block;
    }

    &.bingo img.daub2 {
      display: block;
    }
  }
}

@media print {
  .controls {
    display: none;
  }
}
